<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Hello</title>
    <script src="/webjars/jquery/3.3.1/jquery.js"></script>
    <script src="webjars/materializecss/1.0.0/js/materialize.js"></script>
    <link href="webjars/materializecss/1.0.0/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <section layout:fragment="content">
        <p>page content goes here</p>
    </section>
</body>
</html>